<div class="text-center">
    <img src="~/images/checkout3.jpg" class="img-fluid" alt="Checkout" />
    <h3 class="card-title">Congratulations</h3>
    <h5>Paymant under process</h5>
    <span style="font-size:20px">Your Order Number is : <b>569-NYDS-22</b></span>
    <a class="page-link" asp-area="" asp-controller="Home" asp-action="Index">
        <h3>Continue Shopping</h3>
    </a>
</div>